*~
*.gz
allcode/
sicp-solutions/
exercises/ch4-mceval.scm
exercises/4.27-31-ch4-leval.scm
exercises/ch4-ambeval.scm
exercises/ch4-query.scm
exercises/ch5-regsim.scm
exercises/test.txt

# wtf?
.fuse_hidden*

